body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: inherit !important;
  color: inherit !important;
}

.offcanvas {
  width: 300px !important;
  background-color: #4932ad !important;
}

.close-icon {
  fill: white !important;
}

.offcanvas-backdrop.show {
  opacity: 0 !important;
}

.offcanvas-text {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
