@import "../../../global.scss";
.design-firm-page {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 70px;
  overflow: auto;
  font-size: 25px;
  text-align: center;
  color: $redColor;
  font-weight: bold;
  .design-card {
    margin: 30px auto 0px;
    width: 45%;
    justify-content: center;
    font-size: 15px;
    color: $leaderboards;
    font-weight: 600;
    padding: 0px;
    .card-body {
      padding: 5px;
      text-align: justify;
      box-shadow: -3px 3px 5px $borderColor;
    }
  }
  .identity-specialization {
    margin: 70px 40px 0px;

    .identity {
      text-align: left;
      color: $leaderboards;
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 40px;
      padding-right: 30px;

      input[type="number"] {
        background-image: url("https://icon-library.com/images/up-and-down-arrow-icon/up-and-down-arrow-icon-19.jpg");
        background-size: 23px 25px;
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: 7px;
      }

      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        opacity: 1 !important;
        background: transparent !important;
        border-width: 0px;
        margin: 0;
        padding: 2px;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      .form-control::placeholder {
        color: $borderColor;
        opacity: 1; /* Firefox */
      }
      .form-control:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: $borderColor;
      }
      .help-icon {
        font-size: 25px;
        color: $borderColor;
        margin-top: 5px;
      }
      .identity-text {
        margin-top: 4px;
      }
      .identity-header {
        color: $redColor;
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
      }
      .first-name {
        margin-top: 15px;
      }
      .firm-tagline {
        @extend .first-name;
      }
      .firm-value {
        @extend .first-name;
      }
      .number-partners {
        @extend .first-name;
        .number-partners-select {
          padding-right: 12px;
        }

        .number-partners-help-icon {
          padding-left: 13px;
        }
      }
    }
    .specialization {
      text-align: left;
      color: $leaderboards;
      font-weight: 600;
      font-size: 15px;
      padding-left: 30px;
      .help-icon {
        font-size: 25px;
        color: $borderColor;
        margin-top: 0px;
      }
      .form-check-input {
        border: none;
        background-color: $footerBackgroundColor;
      }
      .form-check-label {
        line-height: normal;
      }
      .specialization-header {
        color: $redColor;
        font-weight: bold;
        font-size: 18px;
        margin: 15px 0px;
        Col {
          padding: 0px;
        }
      }
      .specialization-expertise {
        margin-top: 5px;
        .form-range {
          height: 5px;
        }
        .form-range::-webkit-slider-thumb {
          background-color: $redColor;
          width: 15px;
          height: 15px;
        }
        .routine-label {
          font-size: 12px;
          font-weight: bold;
          position: relative;
          float: left;
          bottom: 5px;
        }
        .unique-label {
          @extend .routine-label;
          position: relative;
          float: right;
          bottom: 5px;
        }
      }
      .specialization-industries {
        margin-top: 12px;
      }
    }
  }
  .confirm-button {
    font-weight: 400;
    margin-top: 70px;
    padding: 5px 20px;
    border-radius: 16px;
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .design-firm-page {
    .design-card {
      width: 70%;
    }
    .identity {
      padding-right: 12px !important;
    }
    .specialization {
      padding-left: 12px !important;
    }
  }
}
